<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8"/>
  
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/fontello.css">

  <script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js"></script>
</head>
<body>
  <div class="under-nav">
    <div class="container">
      <span>kontakt: 505-505-505</span>
    </div>
  </div>
  <nav>
    <div class="container">
      <a href="/"><img src="/images/logo.jpg"></a>
      <a class="list-it" id="add">Dodaj produkt</a>
      <a class="list-it" id="all-it">Lista produktów</a>
      <a href="https://www.facebook.com/Mediaexpert/?fref=ts"><i class="demo-icon icon-facebook-official"></i></a>
    </div>
  </nav>
  <div class="container">
    
    {{{ body }}}
  </div>
  <footer>
    <div class="container">
    Wszelkie prawa zastrzeżone 2017 Media Expert
    </div>
  </footer>
</body>
</html>
